{% extends "main.html" %}

{% block content %}

<h1>Посмотрите информацию о ближайших организациях прямо сейчас!</h1>
<div class="container-xxl">
<div class="row">
  <div id="type" class="col-sm" >
    <select class="form-select" aria-label="Default select example">
      <option selected>Тип организации</option>
        {% for item in organs %}
          <option value="{{ loop.index }}">{{item}}</option>
        {% endfor %}
    </select>
  </div>
  <div id="name" class="col-sm">
    <select class="form-select" aria-label="Default select example">
      <option selected>Наименование организации</option>
        {% for item in names_of_organs %}
          <option value="{{ loop.index }}">{{item}}</option>
        {% endfor %}
    </select>
  </div>
  <div class="col-sm">
      <form onsubmit="return false" oninput="level.value = number.valueAsNumber">
        <label for="customRange3" class="form-label">Количество организаций для поиска: <output for="customRange3" name="level">4</output></label>
        <input type="range" class="form-range" min="0" max="8" value="4" step="1" id="customRange3" name="number">
      </form>
</form>
  </div>
</div>
</div>
<div class="container-xxl">
  <div class="row">
    <input class="form-control" type="text" placeholder="Город" aria-label="default input example">
  </div>
  <div class="row">
    <input class="form-control" type="text" placeholder="Улица" aria-label="default input example">
  </div>
  <div class="row">
    <input class="form-control" type="number" placeholder="номер дома" aria-label="default input example">
  </div>
  <div class="row">
    <button type="button" class="btn btn-primary">Поиск</button>
  </div>
</div>
<img id="map" src="../static/img/default.jpg" alt="Расположение ближайших организаций" />

{% endblock %}