{% extends "main.html" %}

{% block content %}

<form action="{{ url_for('load_table') }}" enctype="multipart/form-data" onsubmit="return false" oninput="level.value = number.valueAsNumber">

<h1>Посмотрите информацию о ближайших организациях прямо сейчас!</h1>
  <div class="container-xxl">
    <div class="row">
      <div id="type" class="col-sm" >
        <select class="form-select" aria-label="Default select example" onchange="fun(this.value)">
          <option selected>Тип организации</option>
            {% for item in organs %}
              <option value="{{ loop.index }}">{{item}}</option>
            {% endfor %}
        </select>
      </div>
      <div id="name" class="col-sm">
        <select class="form-select" aria-label="Default select example">
          <option selected>Наименование организации</option>
            {% for item in names_of_organs %}
              <option value="{{ loop.index }}">{{item}}</option>
            {% endfor %}
        </select>
      </div>
      <div class="col-sm">
            <label for="customRange3" class="form-label">Количество организаций для поиска: <output for="customRange3" name="level">4</output></label>
            <input type="range" class="form-range" min="0" max="8" value="4" step="1" id="customRange3" name="number">
      </div>
    </div>
  </div>
<div class="container-xxl">
  <div class="row">
    <input class="form-control" name="city" type="text" placeholder="Город" aria-label="default input example">
  </div>
  <div class="row">
    <input class="form-control" name="street" type="text" placeholder="Улица" aria-label="default input example">
  </div>
  <div class="row">
    <input class="form-control" name="house" type="text" placeholder="Номер дома" aria-label="default input example">
  </div>
  <div class="row">
    <a class="btn btn-primary" href="/table" role="button">Поиск</a>
  </div>
</div>

</form>

{% if stores %}
<img id="map" src="../static/img/map.png" alt="Расположение ближайших организаций" />
  {% for store in stores %}
    <h3>{{store["name"]}}, по адрессу: {{store["address"]}}</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">№</th>
          <th scope="col">Категория</th>
          <th scope="col">Товар</th>
          <th scope="col">Цена</th>
          <th scope="col">Количество</th>
        </tr>
      </thead>
      <tbody>
      {% for item in store["items"] %}
        {% set category = item[0] %}
        {% set loop1 = loop.index %}
        {% for product in item[1:] %}
            <tr>
              <th scope="row">{{ loop1 }}.{{ loop.index }}</th>
              <td>{{ category }}</td>
              <td>{{ product[0] }}</td>
              <td>{{ product[1] }}</td>
              <td>{{ product[2] }}</td>
            </tr>
        {% endfor %}
      {% endfor %}
      </tbody>
    </table>
  {% endfor %}
{% endif %}

{% endblock %}