{% extends "content.html" %}

{% block table %}

  {% for store in stores %}
    <h3>{{store[name]}}, по адрессу: {{store[address]}}</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">№</th>
          <th scope="col">Категория</th>
          <th scope="col">Товар</th>
          <th scope="col">Цена</th>
          <th scope="col">Количество</th>
        </tr>
      </thead>
      <tbody>
      {% for item in store[items] %}
        {% for category in item %}
          {% for product in category[1:] %}
              <tr>
                <th scope="row">{{ loop.parent.loop.index }}.{{ loop.index }}</th>
                <td>{{ category[0] }}</td>
                <td>{{ category[1][0] }}</td>
                <td>{{ category[1][1] }}</td>
                <td>{{ category[1][2] }}</td>
              </tr>
          {% endfor %}
        {% endfor %}
      {% endfor %}
      </tbody>
    </table>
  {% endfor %}

{% endblock %}